.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container p {
  color: gray;
  margin: 0;
}

.socials {
  display: flex;
  gap: 1.5em;
}

.socials > * {
  font-size: 1.5em;
  color: gray;
}
