.hero {
  padding: 1.5rem;
  background-color: gray;
  display: flex;
  gap: 3rem;
  align-items: center;
}

.hero > div:nth-child(2) {
  max-width: 400px;
}

.hero p {
  font-size: larger;
}

@media only screen and (max-width: 1000px) {
  .hero {
    flex-direction: column;
  }
}

.separator {
  border: 0.5px solid lightgray;
  margin-inline: 5rem;
  margin-top: 3rem;
}

#trips {
  margin-inline: 2rem;
}
